---
import BaseLayout from "@/layouts/BaseLayout.astro";
// https://docs.astro.build/en/guides/images/#widths
// import { Image, Picture } from "astro:assets";
// import jaime from "@/assets/avatar2.webp";

import TWsizeindicator from "@/components/TWsizeindicator.astro";

import MyCustomImageComponent from "../components/MyCustomImageComponent.astro";
import mobileImage from "@/assets/test1.png";
import desktopImage from "@/assets/test2.png";

import { db, Links } from "astro:db";
const links = await db.select().from(Links)

---

<BaseLayout title="test" description="testing things out">
  <TWsizeindicator />


<!-- <Image class="pt-10" src={jaime} alt="Jaime" width={200} /> -->


<!-- <Image src={jaime} alt="Jaime" width={jaime.width / 2} densities={[1.5, 2]} /> -->

<!-- <Image
  src={jaime}
  alt="Jaime"

  widths={[240, 540, 720, jaime.width]}
  sizes={`(max-width: 640px) 240px, (max-width: 768px) 540px, (max-width: 1024px) 720px, ${jaime.width}px`}

  /> -->

  <MyCustomImageComponent
  mobileImgUrl={mobileImage}
  desktopImgUrl={desktopImage}
  alt="user profile picture"
/>

{
  links.map((link) => (
    <div>
      <time datetime={link.date.toISOString()}>{link.date.toLocaleDateString()}</time>
      <a href={link.url}>{link.title}</a>
      <p>Is Read: {link.isRead ? "✅" : "❌"}</p>
      <p>Is Cool: {link.isCool ? "Yes" : "No"}</p>
    </div>
  ))
}

</BaseLayout>
